.app {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header'
    'hero'
    'content'
    'footer';
  min-height: 100vh;
}

%app-container {
  position: relative;
  width: 100%;
  max-width: $container-width-max;
  margin: 0 auto;
  //height: 100%;
}

.band {
  display: flex;
  flex-direction: column;
  .shaded {
    background-color: $grey1;
    height: 100%;
  }
  .container {
    @extend %app-container;
    padding: 0 $band-container-padding;
  }
  .container-hero-overlap {
    @extend %app-container;
    // @extend .shadow-lg;
    padding: $band-container-padding;
    padding-top: $band-container-padding * 2;
    margin-top: -5rem;
    background-color: white;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 20rem;
      // background: red;
      box-shadow: 0 -2rem 30px rgba($primary-color-dark, 0.1);
    }
  }
  .container-horizontal {
    @extend %app-container;
    padding: $band-container-padding;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .start {
      flex: 1;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .end {
      //flex: 1;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .container-full {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
