.app-hero {
  @include background-cover(
    'https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3152&q=80'
  );
  background-position-y: bottom;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 50px), 0% 100%);
  .container {
    // background-color: rgba($indigo, 0.85);
    @include content-gradient(
      rgba($primary-color, 0.85),
      rgba($tertiary-color-dark, 0.85)
    );
    backdrop-filter: blur(5px);
    padding: 6rem 2rem !important;
    padding-bottom: 12rem !important;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px 10px $primary-color-dark;
    h1 {
      font-size: $scale11;
    }
    h2 {
      margin-top: $scale4;
      font-size: $scale4;
    }
  }
}
