.feature-grid {
    position: relative;
    display: grid;
    grid-gap: $base-value;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    overflow: visible;
}

.feature-card-simple {
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size: $scale3;
    width: 100%;
    height: 200px;
    padding: $scale2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $primary-color-dark;
    text-shadow: 1px 1px 10px white;
    border-radius: $radius-base;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include content-gradient(
            rgba($primary-color, 0),
            rgba($secondary-color, 0.1)
        );
        z-index: 1;
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(90% - 50px), 0% 90%);
    }
    .content {
        @include transition-all;
        position: relative;
        z-index: 1;
        .icon {
            @include transition-all;
            display: block;
            margin-bottom: $scale4;
            i[class^='fa'] {
                font-size: $scale12;
            }
            svg {
                fill: $primary-color;
                stroke: $primary-color;
                width: 64px;
            }
        }
        .title {
            @extend .large;
        }
        .description {
            @include transition-all;
            @extend p;
            position: absolute;
            bottom: 0;
            display: block;
            opacity: 0;
            margin: 0;
            font-style: normal;
        }
    }
}

.feature-card {
    @include transition-all;
    @extend .shadow-md;
    background-color: $primary-color;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+');
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size: $scale3;
    width: 100%;
    height: 300px;
    padding: $scale5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 10px $primary-color-dark;
    border-radius: $radius-base;
    &:before {
        @include transition-all;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include content-gradient(
            rgba($primary-color, 0.5),
            rgba($secondary-color, 0.75)
        );
        z-index: 1;
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(90% - 50px), 0% 90%);
    }
    .content {
        @include transition-all;
        position: relative;
        z-index: 1;
        .icon {
            @include transition-all;
            display: block;
            margin-bottom: $scale4;
            i[class^='fa'] {
                font-size: $scale12;
            }
            svg {
                fill: white;
                stroke: white;
                width: 64px;
            }
        }
        .title {
            @extend .large;
        }
        .description {
            @include transition-all;
            @extend p;
            position: absolute;
            bottom: 0;
            display: block;
            opacity: 0;
            margin: 0;
            font-style: normal;
        }
    }

    &:hover {
        @extend .shadow-lg;
        transform: scale(1.05);
        z-index: 1;
        &:before {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            @include content-gradient(
                rgba($primary-color, 0.8),
                rgba($secondary-color, 1)
            );
        }
        .content {
            transform: translateY(-1rem);
            .icon {
                transform: scale(1.2) translateY(-1rem);
            }
            .description {
                opacity: 1;
                transform: translateY(4rem);
            }
        }
    }
}
