.feature-grid {
  position: relative;
  display: grid;
  grid-gap: $base-value-quarter;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
}

.feature-card {
  @include transition-all;
  @include content-gradient($primary-color, $secondary-color);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: $scale3;
  width: 100%;
  height: 300px;
  padding: $scale5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  .icon {
    @include transition-all;
    display: block;
    margin-bottom: $scale4;
    i[class^='fa'] {
      font-size: $scale12;
    }
  }
  .title {
    @extend .large;
  }
  .description {
    @include transition-all;
    @extend p;
    display: absolute;
    // opacity: 0;
    margin: 0;
    font-style: normal;
    bottom: 0;
  }
  &:hover {
    @extend .shadow-md;
    transform: scale(1.05);
    z-index: 1;
    @include content-gradient($primary-color, $secondary-color-dark);
    .icon {
      transform: scale(1.2) translateY(-1rem);
    }
    .description {
      display: block;
      opacity: 1;
      transform: translateY(1rem);
    }
  }
}
